{% extends 'infraestructura/base.html' %}

{% block content %}
<div class="container mt-4">
    <h2>Registrar incidencia</h2>

    <p>
        Servidor:
        <strong>{{ servidor.nombre_host }}</strong>
    </p>

    <form method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn btn-primary">
            Registrar incidencia
        </button>

        <a href="{% url 'detalle_servidor' servidor.pk %}"
           class="btn btn-secondary">
            Cancelar
        </a>
    </form>
</div>
{% endblock %}